git+https://github.com/fourjr/discord.py@rewrite
lxml
mtranslate
colorthief
pyparsing
sympy
psutil
emoji
wikipedia
cr-py
urban-async
safygiphy
google-api-python-client
oauth2client
jwt
google-auth-httplib2 
google-auth-oauthlib
